<li>
	{{name}}

	<button class="devour-burger" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}DEVOUR IT!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --
</li>
