<li>
	{{name}}

	<button class="devoured-burger" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}DEVOUR IT!{{else}}DEVOURED!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
